body {
     font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    background-color: purple;
    margin: 20px;
    text-align: center;
}

p, ul, ol, table {
    line-height: 1.5;
    text-align: left;
    max-width: 700px;
    margin: 0 auto 1em auto;
}

